/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* VARIÁVEIS */
:root {
  /* Cores principais */
  --color-primary: #1750ed;
  --color-primary-hover: hsla(224, 86%, 51%, 0.85);

  --color-success: #359d59;
  --color-warning: #e19710;
  --color-danger: #dc2626;
  --color-muted: #7c8599;
  --color-dark: #121a2b;
  --color-white: #ffffff;

  /* Fundos */
  --bg-color-body: #f8f9fc;
  --bg-color-surface: #fefefe;
  --bg-color-header: #121a2b;
  --bg-color-subtle: #f9fafc;

  /* Bordas */
  --border-color: #eef1f7;

  --border-color-primary: #dfe9fc;
  --border-color-warning: #fef0d1;
  --border-color-success: #def3e3;

  /* Fundos dos status */
  --bg-color-primary: #f4f7fd;
  --bg-color-warning: #fffaed;
  --bg-color-success: #f2f8f4;

  /* Ícones dos status */
  --icon-bg-primary: #dfe9fc;
  --icon-bg-warning: #fef0d1;
  --icon-bg-success: #def3e3;

  /* Sombras */
  --box-shadow: hsla(221, 41%, 12%, 0.2);
}


/* GERAL */
html {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: var(--bg-color-body);
}

.container {
  max-width: 1444px;
  margin: 0 auto;
}

main {
  padding: 1.25rem 1rem;
}

p {
  color: var(--color-muted);
}


/* PAGE HEADER */
.header {
  background-color: var(--bg-color-header);
  padding: 1rem;
}

.logo {
  display: flex;
  place-items: center;
  gap: 10px;
  color: var(--color-white);
  text-decoration: none;
}

.logo span {
  font-size: 2rem;
}


/* SEÇÃO TODO */
.todo {
  padding: 2rem;
  background-color: var(--bg-color-3);
  box-shadow: 0px 0px 10px 1px var(--box-shadow);
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.todo__header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

@media (max-width: 1096px) {
  .todo__header {
    flex-direction: column;
  }
}

.todo__header h2 {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--text-color-1);
  margin-bottom: 0.6rem;
}

.todo__stats {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.stat {
  width: 12rem;
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 0 10px;
  padding: 1.2rem;
  border-radius: 10px;
}

.stat__icon {
  grid-row: 1/3;
  align-self: center;

  height: 3rem;
  width: 3rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.stat__count {
  font-size: 1.4rem;
}

.total-tasks {
  background-color: var(--bg-color-primary);
  border: 1px solid var(--border-color-primary);
}

.total-tasks .stat__icon {
  color: var(--color-primary);
  background-color: var(--icon-bg-primary);
}

.total-tasks strong {
  color: var(--color-primary);
}

.pending-tasks {
  background-color: var(--bg-color-warning);
  border: 1px solid var(--border-color-warning);
}

.pending-tasks .stat__icon {
  color: var(--color-warning);
  background-color: var(--border-color-warning);
}

.pending-tasks strong {
  color: var(--color-warning);
}

.completed-tasks {
  background-color: var(--bg-color-success);
  border: 1px solid var(--border-color-success);
}

.completed-tasks .stat__icon {
  color: var(--color-success);
  background-color: var(--border-color-success);
}

.completed-tasks strong {
  color: var(--color-success);
}

.task-form {
  display: flex;
  gap: 10px;
  padding: 0.6rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

@media (max-width: 700px) {
  .task-form {
    flex-direction: column;
  }
}

.task-form__input-wrapper {
  height: 2.8rem;
  flex: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px var(--box-shadow);
}

.task-form__input-wrapper input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.2rem;
  padding: 0.6rem;
  border-radius: 10px;
}

.task-form__button {
  height: 2.8rem;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s linear;
}

.task-form__button:hover {
  background-color: var(--color-primary-hover);
}

.task-tabs {
  background-color: var(--bg-color-subtle);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  display: flex;
  margin-bottom: 1rem;
}

.task-tabs__tab {
  flex: 1;
  max-width: 10rem;
  min-width: 6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--color-muted);
  font-size: 1rem;
}

.task-tabs__tab--active {
  position: relative;
  background-color: var(--bg-color-surface);
}

.task-tabs__tab--active::after {
  content: '';
  height: 3px;
  width: 100%;

  position: absolute;
  bottom: 0;
}

.task-tabs__tab--active#tab-all {
  color: var(--color-primary);
}

.task-tabs__tab--active#tab-all::after {
  background-color: var(--color-primary);
}

.task-tabs__tab--active#tab-pending {
  color: var(--color-warning);
}

.task-tabs__tab--active#tab-pending::after {
  background-color: var(--color-warning);
}

.task-tabs__tab--active#tab-completed {
  color: var(--color-success);
}

.task-tabs__tab--active#tab-completed::after {
  background-color: var(--color-success);
}

#task-list {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  list-style: none;
}

.task-list--hidden {
  display: none;
}

#task-list li:nth-child(odd) {
  background-color: var(--bg-color-subtle);
  border-bottom: 1px solid var(--border-color);
}

.task {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  padding: 1rem;
}

.task--edition {
  grid-template-columns: auto 1fr;
}

.task--edition .task__actions {
  grid-column: 1/-1;
  justify-content: center;
}

.task__input-check {
  height: 1.2rem;
  width: 1.2rem;
  accent-color: var(--color-success);
}

.task__description {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;
  scrollbar-width: thin;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  padding: 0.25rem;
}

.task__description--focused {
  border: 2px solid #000;
  border-radius: 12px;
}

.task--completed .task__description {
  text-decoration: line-through;
  color: var(--color-muted);
  font-weight: 400;
}

.task__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task__actions__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.task__actions__button:hover {
  transform: scale(1.1);
}

.edit-task {
  color: var(--color-primary);
}

.remove-task {
  color: var(--color-danger);
}

.cancel-changes {
  color: var(--color-muted);
}

.save-changes {
  color: var(--color-success);
}
