/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* VARIÁVEIS */
:root {
  --bg-color-1: #121a2b;
  --bg-color-2: #f8f9fc;
  --bg-color-3: #fefefe;
  --box-shadow: hsla(221, 41%, 12%, 0.2);

  --text-color-1: #121a2b;
}

/* GERAL */
html {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: var(--body-bg-color);
}

.container {
  max-width: 1444px;
  margin: 0 auto;
}

main {
  padding: 1.25rem 1rem;
}

p {
  color: #7c8599;
}

/* PAGE HEADER */
.header {
  background-color: var(--bg-color-1);
  padding: 1rem;
}

.logo {
  display: flex;
  place-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
}

.logo span {
  font-size: 2rem;
}

/* SEÇÃO TODO */
.todo {
  padding: 2rem;
  background-color: var(--bg-color-3);
  box-shadow: 0px 0px 10px 1px var(--box-shadow);
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.todo__header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

@media (max-width: 1096px) {
  .todo__header {
    flex-direction: column;
  }
}

.todo__header h2 {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--text-color-1);
  margin-bottom: 0.6rem;
}

.todo__stats {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.stat {
  width: 12rem;
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 0 10px;
  padding: 1.2rem;
  border-radius: 10px;
}

.stat__icon {
  grid-row: 1/3;
  align-self: center;

  height: 3rem;
  width: 3rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.stat__count {
  font-size: 1.4rem;
}

.total-tasks {
  background-color: #f4f7fd;
  border: 1px solid #dfe9fc;
}

.total-tasks .stat__icon {
  color: #1750ed;
  background-color: #dfe9fc;
}

.total-tasks strong {
  color: #1750ed;
}

.pending-tasks {
  background-color: #fffaed;
  border: 1px solid #fef0d1;
}

.pending-tasks .stat__icon {
  color: #e19710;
  background-color: #fef0d1;
}

.pending-tasks strong {
  color: #e19710;
}

.completed-tasks {
  background-color: #f2f8f4;
  border: 1px solid #def3e3;
}

.completed-tasks .stat__icon {
  color: #359d59;
  background-color: #def3e3;
}

.completed-tasks strong {
  color: #359d59;
}

.task-form {
  display: flex;
  gap: 10px;
  padding: 0.6rem;
  border: 1px solid #eef1f7;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .task-form {
    flex-direction: column;
  }
}

.task-form__input-wrapper {
  height: 2.8rem;
  flex: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px var(--box-shadow);
}

.task-form__input-wrapper input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.2rem;
  padding: 0.6rem;
  border-radius: 10px;
}

.task-form__button {
  height: 2.8rem;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  background-color: #1750ed;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s linear;
}

.task-form__button:hover {
  background-color: hsla(224, 86%, 51%, 0.85);
}

.task-tabs {
  background-color: #f9fafc;
  border-radius: 10px;
  border: 1px solid #eef1f7;
  display: flex;
  margin-bottom: 1rem;
}

.task-tabs__tab {
  flex: 1;
  max-width: 10rem;
  min-width: 6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #7c8599;
  font-size: 1rem;
}

.task-tabs__tab--active {
  position: relative;
  background-color: #fefefe;
}

.task-tabs__tab--active::after {
  content: '';
  height: 3px;
  width: 100%;

  position: absolute;
  bottom: 0;
}

.task-tabs__tab--active#tab-all {
  color: #1750ed;
}

.task-tabs__tab--active#tab-all::after {
  background-color: #1750ed;
}

.task-tabs__tab--active#tab-pending {
  color: #e19710;
}

.task-tabs__tab--active#tab-pending::after {
  background-color: #e19710;
}

.task-tabs__tab--active#tab-completed {
  color: #359d59;
}

.task-tabs__tab--active#tab-completed::after {
  background-color: #359d59;
}

#task-list {
  border: 1px solid #eef1f7;
  border-radius: 10px;
  list-style: none;
}

.task-list--hidden {
    display: none;
}

#task-list li:nth-child(odd) {
  background-color: #f9fafc;
  border-bottom: 1px solid #eef1f7;
}

.task {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem;
}

.task__input-check {
  height: 1.2rem;
  width: 1.2rem;
  accent-color: #359d59;
}

.task__description {
  flex: 1;
  color: #121a2b;
  font-weight: 500;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  padding: 0.25rem;
}

.task--completed .task__description {
  text-decoration: line-through;
  color: #7c8599;
  font-weight: 400;
}

.task__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task__actions__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.task__actions__button:hover {
  transform: scale(1.1);
}

.edit-task {
  color: #1750ed;
}

.remove-task {
  color: #DC2626;
}

.cancel-changes {
  color: #64748B;
}

.save-changes {
  color: #359d59;
}
